In [2]:
#Now we'll elarn about reindexing

In [3]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [4]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [5]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
#Show
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [8]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [9]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -1.645645  1.077498 -2.729551  1.537611 -1.327320
B -0.320141  0.267824 -0.503832 -1.050003  0.474357
D -0.005693 -1.024734 -1.396737 -0.214313 -0.086242
E -0.546888 -0.601071 -1.785312 -0.354101  0.537332
F  0.014061  1.547443  0.023173  1.631504 -0.991942

In [12]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [13]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.645645  1.077498 -2.729551  1.537611 -1.327320   NaN
B -0.320141  0.267824 -0.503832 -1.050003  0.474357   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.005693 -1.024734 -1.396737 -0.214313 -0.086242   NaN
E -0.546888 -0.601071 -1.785312 -0.354101  0.537332   NaN
F  0.014061  1.547443  0.023173  1.631504 -0.991942   NaN

In [14]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A -1.645645  1.077498 -2.729551  1.537611 -1.327320
B -0.320141  0.267824 -0.503832 -1.050003  0.474357
D -0.005693 -1.024734 -1.396737 -0.214313 -0.086242
E -0.546888 -0.601071 -1.785312 -0.354101  0.537332
F  0.014061  1.547443  0.023173  1.631504 -0.991942

In [15]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.645645  1.077498 -2.729551  1.537611 -1.327320   NaN
B -0.320141  0.267824 -0.503832 -1.050003  0.474357   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.005693 -1.024734 -1.396737 -0.214313 -0.086242   NaN
E -0.546888 -0.601071 -1.785312 -0.354101  0.537332   NaN
F  0.014061  1.547443  0.023173  1.631504 -0.991942   NaN